/* RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/

/*em > a {
  color: rgba(80, 82, 144, .8);
  text-decoration: underline;
}
em > a:hover{
  color: rgba(80, 82, 144, 1);
  text-decoration: none;
}
em > a:visited{
  color: rgba(80, 82, 144, .8);
  text-decoration: underline;
}*/
body {
  background-image: url("../images/round.png");
}

em > a {
  background-color: rgba(80, 82, 144, .8);
  color: #fff;
}
em > a:hover{
  text-decoration: line-through;
  background-color: rgba(80, 82, 144, .65);
  color: #fff;
}
em > a:visited {
  background-color: rgba(80, 82, 144, .8);
  color: #fff;
  font-weight: bold;
}

.uk-navbar {
  padding: 0 1em;
}

.uk-navbar-nav {
  background-color: rgba(240, 240, 240, .32);
  cursor: none !important;
}

.uk-navbar-nav > .uk-active {
  font-weight: 600;
}

.uk-navbar-nav > .uk-active > a:hover {
  text-decoration: none;
  padding-bottom: 0px;
}

.uk-navbar-nav > li > a {
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif !important;
  color: rgba(80, 82, 144, 1) !important;
}

.uk-navbar-nav > li > a:hover {
  color: rgba(80, 82, 144, .75);
  /*text-decoration: line-through;*/
  text-decoration: underline;
  padding-bottom: 1px;
}

.socialmedia {
  font-size: 3em;
  fill: #bbb;
}

.photo {
  height: 200px;
  width: 200px;
}

#resume {
  margin-top: -2em;
  font-family: "Avenir";
  font-size: 14px;
  color: rgba(0, 0, 0, .85);
  background-color: #fff;
  padding: 2.6em 0 2em 2.6em;
  z-index: 3;
}

#resume h1 {
  font-size: 2.488em;
  font-weight: 100;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, .75);
}

#resume h2{
  font-weight: 200;
  font-size: 1.44em;
  letter-spacing: 4px;
  margin: 1.2em 0 0 0;
  /*color: rgba(0, 0, 0, .85);*/
  color: rgba(80, 82, 144, .85);
}

#resume h3 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 1.2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  margin: 1em 0 0 0;
  color: rgba(0, 0, 0, .75);
}

#resume h4 {
	font-size: 0.833em;
	font-style: normal;
	font-weight: 100;
  margin: 0.335em 0 0.579em 0;
  color: rgba(0, 0, 0, .6);
}

#resume em {
  font-weight: 300;
  color: rgba(0, 0, 0, .85);
}
